<div class="navbar navbar-default">
    <div class="conatiner-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                Recipe Book
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Shopping list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetach Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>